* {
    padding:0;
    margin:0;
    font-family:verdana;
}
a {
    color:inherit;
    text-decoration: none;
}
.container {
    width:80%;
    margin:0 auto;
}
.container:after {
    content:'';
    display:block;
    clear:both;
}
.container p{
    color: #666;
    word-spacing: 2px;
    line-height: 25px;
    text-align:justify;
}
.container img {
    display: block;
    margin-left:auto;
    margin-right: auto;
}
header h1{
    padding: 30px;
    text-align: center; 
    background-color:rgb(9, 2, 109);
    color:#fff;
}
header ul { 
    text-align:center;
    margin-left: 20px;
}
header ul li {
    display:inline-block;  
}
header ul li a {
    padding:25px 25px;
    display:inline-block;
}
header ul li a:hover {
    background-color: rgb(1, 132, 255);
    color:#fff; 
}
.active {
    background-color: rgb(1, 132, 255);
    color:#fff;
}
.gambarbg {
    height:80vh;
    background-image: url('gambarbg.png');
    background-size: cover;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gambarbg:after {
	content:'';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 12, 0.438);
}
.gambarbg h2 {
    color:white;
    z-index: 1;
    padding: 20px 25px;
    border: 10px groove #fff;
    word-spacing: 5px;
    text-align: center;
    line-height: 35px;
}
section {
    padding: 100px 0;
}
section h3 {
    text-align: center;
    padding: 20px 0;
    color:rgb(10, 0, 151);
    margin-bottom: 25px;
}
.wisata {
    padding-bottom: 100px;
}
.wisata p {
    padding-top:20px;
    margin-bottom: px;
}
.rowo {
    background-color: #f4f9fa;
    padding-bottom: 100px;
}
.rowo p {
    padding-top:20px;
    margin-bottom: 5px;
}
.bukit {
    background-color: #e8f8fa;
    padding-bottom: 100px;
}
.bukit p {
    padding-top:20px;
    margin-bottom: 5px;
}
.kuliner {
    background-color: #f1eeee;
    padding-bottom: 100px;
}
.kuliner p {
    padding-top:20px;
    margin-bottom: 5px;
}
.ikan {
    background-color: #f4fcff;
    padding-bottom: 100px;
}
.ikan p {
    padding-top:20px;
    margin-bottom: 5px;
}
.lele {
    background-color: #e0f1ff;
    padding-bottom: 100px;
}
.lele p {
    padding-top:20px;
    margin-bottom: 5px;
}
.seblak {
    background-color: #f4fcff;
    padding-bottom: 100px;
}
.seblak p {
    padding-top:20px;
    margin-bottom: 5px;
}
.bakso {
    background-color: #e0f1ff;
    padding-bottom: 100px;
}
.bakso p {
    padding-top:20px;
    margin-bottom: 5px;
}
.contact {
    background-color: #f4ffff;
    padding-bottom: 100px;
}
.contact p {
    text-align :center;
    margin-bottom: 25px;
}
.about {
    background-color: #f4ffff;
    padding-bottom: 100px;
}
.about p{
    padding-top : 25px;
}
    
.contact p {
    text-align :center;
    margin-bottom: 25px;
}
.box {
    color: rgb(10, 0, 151);
}
.box:after {
    content:'';
    display: block;
    clear:both;
}
.box .col-4 {
    width:25%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    float: left;
}
.box:after {
	content: '';
	display: block;
	clear: both;
}
.box .col-4 {
	width:25%;
	padding:20px;
	box-sizing: border-box;
	text-align: center;
	float: left;
}
.gambar {
    width: 100px;
    height: 100px;
    border: 2px solid;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    margin: 0 auto;
}
.gambar img {
    width:100px;
    height: 100px;
    border-radius: 50%;
    margin:0 auto;
}
.box .col-4 h4 {
    margin: 20px 0px;
}
footer {
    padding: 30px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
}
.label {
    background-color: rgb(10, 0, 151);
    color:#fff;
    background-image: url('gambar.png');
    background-size: cover;
}
@media screen and (max-width: 768px){
	.container {
		width:90%;
	}
	header h1 {
		text-align: center;
		float: none;
	}
	header ul {
		text-align: center;
		float: none;
	}
	.box .col-4 {
		width:100%;
		float: none;
		margin-bottom: 20px;
	}
}
